html,body {
    height: 200px;
    width: 450px;
    background-image: url("/bg_popup.jpg");
}

.row {
    width: 100%;
    /*margin: 0 auto;*/
}
.block {
    /*float: left;*/
    display: inline-block;
    zoom: 1;
}

ul {
    list-style-type: none;
}