html, body {
    height: 100%;
}

body .container {
    min-height: 100%;
}

.brand-logo img {
    height: 48px;
    margin-bottom: -12px;
    padding-right: 12px;
}

#ourSecondRow .container {
    width: 85%;
}

#refresh-pages-notification {
    visibility: hidden;
    width: 35%;
    margin-left: 64%;
    position: absolute;
    z-index: 1000;
}